body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffecf2;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    width: 90%;
    margin: auto;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #ff6699;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid #ff99cc;
    border-radius: 8px;
    background-color: #fff5f8;
    color: #333;
}



button {
    background-color: #ff6699;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: auto;
}


button:hover {
    background-color: #ff3366;
}

@media (min-width: 600px) {
    .col {
        width: 48%;
        margin-bottom: 0;
    }
    
}
